<!-- <app-principal></app-principal> <br><br>    -->
<div class="container">    
<button (click)="exportAsXLSX()" class="btn btn-info mb-4 mt-2">Descargar Excel</button>    
<table class="table table-striped table-bordered table-hover">    
 <tr>    
   <th>Perfil</th>    
   <th>Nombre</th>    
   <th>Apellido</th>    
   <th>Correo</th>    
 </tr>    
 <tr *ngFor="let item of clientes">    
   <td>{{item.perfil}}</td>    
   <td>{{item.nombre}}</td>    
   <td>{{item.apellido}}</td>    
   <td>{{item.correo}}</td>    
 </tr>    
</table>    
</div>   

