<form id="msform">    
        <fieldset>
            <div class="container">
              <div class="card-column column-0">
                    <div class="card card-color-0" routerLink="/alta/agregarMesa">    
                      <div class="border"></div>
                      <h1 routerLink="/alta/agregarMesa" >Mesas </h1>
                    </div>
             </div>
             <div class="card-column column-0">
                <div class="card card-color-0" routerLink="/alta/agregarProducto">    
                  <div class="border"></div>
                  <h1 routerLink="/alta/agregarProducto" >Productos </h1>
                </div>
             </div>
             <div class="card-column column-0">
                    <div class="card card-color-0" routerLink="/alta/agregarEmpleados">    
                      <div class="border"></div>
                      <h1 routerLink="/alta/agregarEmpleados" >Empleados </h1>
                    </div>
              </div>
              <div class="card-column column-0">
                    <div class="card card-color-0" routerLink="/alta/agregarSocio">    
                          <div class="border"></div>
                          <h1 routerLink="/alta/agregarSocio" >Socios </h1>
                    </div>
              </div>
    
            
           </div>  
           <div id="cover" class="cover"></div>
    
            <div id="open-content" class="open-content">
              <a href="#" id="close-content" class="close-content"><span class="x-1"></span><span class="x-2"></span></a>
              <img id="open-content-image" src="" />
              <div class="text" id="open-content-text">
              </div>
            </div>
        </fieldset>  
     </form>
    
