<nav class="dropdownmenu">
    <ul >
      <li><a href="/principal">Principal</a></li>
      <li *ngIf="this.usuario.perfil=='socio'"><a >Encuestas</a>
        <ul  id="submenu"   >
            <li><a href="/verEncuestas">Empleados</a></li>
            <li><a href="/verEncuestas">Clientes</a></li>            
        </ul>
      </li>
      <li *ngIf="this.usuario.perfil=='socio'"><a >Listados</a>
        <ul id="submenu" >
          <li><a href="/listadoProductos">Productos</a></li>
          <li><a href="/listadoPedidos">Pedidos</a></li>
          <li><a href="/listadoMesas">Mesas</a></li>
        </ul>
      </li>
      
    </ul>

    <ul  >        
        <li *ngIf="this.usuario.perfil=='cliente'"><a >cliente</a>
          <ul id="submenu"  >
              <li><a href="/verEncuestas">Empleados</a></li>
              <li><a href="/verEncuestas">Clientes</a></li>            
         </ul>
        </li>
        <li *ngIf="this.usuario.perfil=='cliente'"><a >algomas</a>
          <ul id="submenu" >
            <li><a href="/listadoProductos">Productos</a></li>
            <li><a href="/listadoPedidos">Pedidos</a></li>
            <li><a href="/listadoMesas">Mesas</a></li>
          </ul>
        </li>        
    </ul>
</nav>