<app-principal></app-principal>
<br><br>
<h3 *ngIf="vacia == true || vacia == undefined" >
        <p class= "no-resultados"> Aún no hiciste tu pedido!<i class="far fa-thumbs-up"></i></p>
        <button  type="button" class="btn btn-outline-success" 
        (click)="irAHacerPedido()" 
        style="margin-left: 35%;" >Hacer Pedido</button> 
</h3>
<div  *ngIf="!vacia == true">  
    <table *ngIf="!vacia == true"  mat-table [dataSource]="dataSource">
      <tr >
          <ng-container matColumnDef="Nombre Cliente">
               <th  style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef>Nombre Cliente </th>
               <td style="color: black;font-size: large;"  mat-cell *matCellDef="let element"> {{element.nombreCliente}} </td>
          </ng-container> 
          <ng-container matColumnDef="Codigo Mesa">
              <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef>Código Mesa </th>
              <td style="color: black;font-size: large;" mat-cell *matCellDef="let element"> {{element.codigoMesa}} </td>
          </ng-container>   
          <ng-container matColumnDef="Codigo Pedido">
                <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Código Pedido </th>
                <td style="color: black;font-size: large;" mat-cell *matCellDef="let element"> {{element.codigoPedido}} </td>                                   
          </ng-container>   
          <ng-container matColumnDef="Estado">
              <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Estado </th>
              <td style="color: black;font-size: large;" mat-cell *matCellDef="let element"> {{element.estado}} </td>
          </ng-container>       
          <ng-container matColumnDef="Detalle">
              <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Detalle </th>
              <td style="color: black;font-size: large;" mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="showInfo(element)">
                        <mat-icon>assignment</mat-icon>
                    </button> 
              </td>    
          </ng-container> 
          <ng-container matColumnDef="Monto Total">
                <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Monto Total </th>
                <td style="color: black;font-size: large;" mat-cell *matCellDef="let element"> {{element.montoTotal}} </td>
        </ng-container>
        <ng-container matColumnDef="Confirmar Recepcion">
                <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Confirmar Recepción </th>
                <td style="color: black;font-size: large;" mat-cell *matCellDef="let element">
                    <button *ngIf="element.estado=='entregado'" mat-icon-button (click)="confirmarRecepcion(element)">
                        <mat-icon>check_circle</mat-icon>
                    </button> 
                </td>    
        </ng-container> 
        <ng-container matColumnDef="Cancelar">
                <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Cancelar </th>
                <td style="color: black;font-size: large;"  mat-cell *matCellDef="let element">
                    <button *ngIf="element.estado=='pendiente'" mat-icon-button (click)="cancelarPedido(element)">
                        <mat-icon>remove_circle</mat-icon>
                    </button> 
                </td>    
        </ng-container> 
     </tr>
     <div>
          <tr mat-header-row *matHeaderRowDef="columsPedido"></tr>
          <tr mat-row *matRowDef="let row; columns: columsPedido;" [appColorPedidoPendiente]="row.estado" ></tr>
      </div>
</table>
<br><br>
<div *ngIf="info">
<!-- <label style="color: black;font-size: x-large;" >Detalle de Pedido:</label> -->
<h2 class="no-span">Detalle de Pedido:</h2>
    <table  mat-table [dataSource]="productos">
           <tr>
                <ng-container matColumnDef="Descripcion">
                    <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td style="color: black;font-size: large;"  mat-cell *matCellDef="let prod">1 {{prod.descripcion}} </td>
                </ng-container> 
                <ng-container matColumnDef="Precio">
                        <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Precio </th>
                        <td style="color: black;font-size: large;"  mat-cell *matCellDef="let prod"> {{prod.precio}} </td>
                </ng-container>  
                <ng-container matColumnDef="Estado Producto">
                        <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Estado Producto </th>
                        <td style="color: black;font-size: large;" mat-cell *matCellDef="let prod"> {{prod.estadoProdPedido}} </td>
                </ng-container> 
                <ng-container matColumnDef="Tiempo Promedio Elaboracion">
                        <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Tiempo Promedio Elaboración </th>
                        <td style="color: black;font-size: large;" mat-cell *matCellDef="let prod"> {{prod.tiempoPromedioElaboracion}} </td>
                </ng-container>                              
           </tr>
           <div>
                <tr mat-header-row *matHeaderRowDef="columsProductoPedido"></tr>
                <tr mat-row *matRowDef="let row; columns: columsProductoPedido;"></tr>
            </div> 
    </table>
</div>
</div>


