<form id="msform">    
    <fieldset>
        <div class="container">
          <div class="card-column column-0">
                <div class="card card-color-0" routerLink="/reporte/reporteMesas">    
                  <div class="border"></div>
                  <h1 routerLink="/reporte/reporteMesas" >Mesas </h1>
                </div>
         </div>
         <div class="card-column column-0">
            <div class="card card-color-0" routerLink="/reporte/reporteProductos">    
              <div class="border"></div>
              <h1 routerLink="/reporte/reporteProductos" >Productos </h1>
            </div>
         </div>

         <div class="card-column column-0">
            <div class="card card-color-0" routerLink="/reporte/reporteEmpleados">    
              <div class="border"></div>
              <h1 routerLink="/reporte/reporteEmpleados" >Empleados </h1>
            </div>
         </div>

         <div class="card-column column-0">
            <div class="card card-color-0" routerLink="/reporte/reporteClientes">    
              <div class="border"></div>
              <h1 routerLink="/reporte/reporteClientes" >Clientes </h1>
            </div>
         </div> 
       </div>  
       <div id="cover" class="cover"></div>

        <div id="open-content" class="open-content">
          <a href="#" id="close-content" class="close-content"><span class="x-1"></span><span class="x-2"></span></a>
          <img id="open-content-image" src="" />
          <div class="text" id="open-content-text">
          </div>
        </div>
    </fieldset>  
 </form>
