<form id="msform">    
        <fieldset>
            <div class="container">
                <div class="card-column column-0">
                    <div class="card card-color-0" routerLink="/listado/listadoMesas">    
                      <div class="border"></div>
                      <h1 routerLink="/listado/listadoMesas" >Listado<br>Mesas</h1>
                    </div>
                 </div>
             <div class="card-column column-0">
                <div class="card card-color-0" routerLink="/listado/listadoProductos">    
                  <div class="border"></div>
                  <h1 routerLink="/listado/listadoProductos" >Listado Productos</h1>
                </div>
             </div>
    
             <div class="card-column column-0">
                <div class="card card-color-0" routerLink="/listado/listadoEmpleados">    
                  <div class="border"></div>
                  <h1 routerLink="/listado/listadoEmpleados" >Listado Empleados </h1>
                </div>
             </div>
    
             <div class="card-column column-0">
                <div class="card card-color-0" routerLink="/listado/listadoClientes">    
                  <div class="border"></div>
                  <h1 routerLink="/listado/listadoClientes" >Listado Clientes </h1>
                </div>
             </div> 
           </div>      
         
           <div id="cover" class="cover"></div>
    
            <div id="open-content" class="open-content">
              <a href="#" id="close-content" class="close-content"><span class="x-1"></span><span class="x-2"></span></a>
              <img id="open-content-image" src="" />
              <div class="text" id="open-content-text">
              </div>
            </div>
        </fieldset>  
     </form>
    