<section class="h-100 login-pagina">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper registro-pagina">  
        <div class="card fat">
          <div class="card-body">
            <h4 class="card-title">Ingreso</h4>
           
            <div class="buttonsLogin" >
               <p>Perfiles prederminados</p>
                <button class="btn login" (click)="ingresoSocio()" >Socio</button>
                <button class="btn login"  (click)="ingresoCliente()" >Cliente</button>
                <button class="btn login" (click)="ingresoBartender()" >Bartender</button>
                <button class="btn login"  (click)="ingresoCocinero()" >Cocinero</button>
                <button class="btn login" (click)="ingresoCervecero()" >Cervecero</button>
                <button class="btn login"  (click)="ingresoMozo()" >Mozo</button>
             </div>
             <!-- agrego perfiles -->
              <form (ngSubmit)="f.form.valid && Logearse()" #f="ngForm" novalidate>
                  <div class="form-group">
                      <label for="email">Dirección de Email</label>          
                      <input name="email" id="email" type="email"
                             class="form-control" [(ngModel)]="user.email" 
                            #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required autofocus>
                      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.required">Ingrese el Email</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="password">Contraseña</label>
                      <input id="password" type="password" class="form-control" name="password" [(ngModel)]="user.password" 
                            #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required>
                      <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                        <div *ngIf="password.errors.required">Ingrese la contraseña</div>
                      </div>
                  </div>
                  <form class="margin-bottom">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck" name="remember">
                      <label class="custom-control-label" for="customCheck">Recordarme</label>
                    </div>
                  </form>
                  <div class="form-group no-margin">
                      <button type="submit" class="btn btn-primary btn-block">
                            Ingresar
                      </button>
                  </div>
                  <div class="margin-top20 text-center">
                          ¿No tenes cuenta aún? <a routerLink="/registro">  Registrarse</a>
                   </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>