<app-principal></app-principal>
<br><br>
<div *ngIf="vacia == undefined" class="d-flex justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem; margin-top: 10%;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</div>
<div *ngIf="vacia != undefined" >
<h3 *ngIf="vacia == true" >
        <p class= "no-resultados"> No hay pedidos para mostrar <i class="far fa-thumbs-up"></i></p>
</h3>
<div  *ngIf="vacia == false ">
<section class="h-100 registro-pagina">
<div class="container h-100">
   <div class="row justify-content-md-center h-100" style="margin-left: -30%;">
    <div class="card-wrapper registro-pagina">  
      <div class="card fat">
        <div class="card-body" style="width: 500px;">
           <h4 class="card-title" style="margin-left: 35%;FONT-FAMILY: fantasy;">Detalle Factura</h4><br>             
           <!-- <ul *ngFor="let item of pedidos"> -->
               <!-- <div *ngIf="item.correoCliente==correo">     -->
                <div *ngIf="miPedido != undefined">  
                        <h5 style="margin-right: 20%; margin-left: 20%;">- Nombre:  {{miPedido.nombreCliente}}</h5> <br> 
                        <h5 style="margin-right: 20%; margin-left: 20%;">- Codigo Pedido:  {{miPedido.codigoPedido}}</h5><br>
                        <h5 style="margin-right: 20%; margin-left: 20%;">- Codigo Mesa:  {{miPedido.codigoMesa}}</h5> <br> 
                        <h5 style="margin-right: 20%; margin-left: 20%;">- Monto: $  {{miPedido.montoTotal}}</h5> 
                        <br><br><br>                       
                        <!-- <button *ngIf="item.correoCliente==correo && item.estado=='recibido'" type="button" class="btn btn-success" 
                        (click)="pagar(item)">Pagar Factura</button>         -->
                        <button type="button" class="btn btn-success"  style="margin-left: 40%;"
                        (click)="pagar(miPedido)">Pagar Factura</button>
                </div>
                <div *ngIf="miPedido == undefined">
                    <h5  style="margin-left: 25%;" >No hay pedido para facturar</h5> 
                </div>  
                <!-- <div  *ngIf="item.estado!='recibido' && item.estado!='pagado'" > -->
                <!-- <div  *ngIf="miPedido.estado!='recibido' && miPedido.estado!='pagado'" >
                    <p>El pedido no se puede abonar porque esta en estado {{item.estado}} </p>
                </div> -->
                <div  *ngIf="pagado" >
                    <br><p style="margin-right: 35%; margin-left: 40%;background-color: chartreuse; color:black;"> PAGO RECIBIDO </p>
                </div>  
            <!-- </ul> -->
      </div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>

