<app-principal></app-principal>
<br><br>
<h1>------------- Abonar Factura --------------</h1><br>

<ul *ngFor="let item of pedidos">
        <div *ngIf="item.correo==correo">
                <p >NOMBRE: {{item.nombreCliente}}</p>  
                <p >CODIGO PEDIDO: {{item.codigo}}</p>                      
                <p >ESTADO: {{item.estado}}</p>
                <p >MESA: {{item.mesa}}</p> 
                <p >MONTO: {{item.montoTotal}}</p> 
                 <br>  
            
                <button *ngIf="item.estado=='entregado'" (click)="pagar(item)">Pagar Factura</button>        
                    
        </div>
       </ul> 
