table {
    width: 100%;
  }
  
.no-resultados {
height: 48px;
display: flex;
align-items: center;
justify-content: center;
background: white;
}
 .th{
   color: black;
   font-size: large;
 }

 .td{
  color: black;
  font-size: x-large;
}
  