<!-- <app-principal></app-principal> -->
<h3 *ngIf="vacia == true" >
        <p class= "no-resultados"> No hay productos para mostrar <i class="far fa-thumbs-up"></i></p>
</h3>
<div  *ngIf="!vacia == true">
   <table mat-table [dataSource]="productos">
        <tr>
            <ng-container matColumnDef="NombreProducto">
                <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Producto </th>
                <td style="color: black;font-size: large;" mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="Tipo">
                <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Tipo </th>
                <td style="color: black;font-size: large;" mat-cell *matCellDef="let element"> {{element.tipo}} </td>
            </ng-container>
            <ng-container matColumnDef="Descripcion">
                <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Descripción</th>
                <td style="color: black;font-size: large;" mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="TiempoPromedio">
                <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Tiempo Promedio</th>
                <td style="color: black;font-size: large;" mat-cell *matCellDef="let element"> {{element.tiempoPromedioElaboracion}} </td>
            </ng-container>
            <ng-container matColumnDef="Precio">
                <th style="color: black;font-size: x-large;"  mat-header-cell *matHeaderCellDef> Precio</th>
                <td style="color: black;font-size: large;"  mat-cell *matCellDef="let element"> {{element.precio}} </td>
            </ng-container>
        </tr>
        <div>
            <tr mat-header-row *matHeaderRowDef="columsProducto"></tr>
            <tr mat-row *matRowDef="let row; columns: columsProducto;" [appTipoFilas]="row.tipo"></tr>
        </div>
      
    </table>
</div>
