<!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

<header>
  <navbar color="primary">
    <title text-center>Bienvenido</title>
      
  </navbar>
</header>


  <page-spinner *ngIf="mostrarSpiner"></page-spinner>
  <div class="usuarios">

    <button [class]="botonUsuarios" (click)="DesplegarUsuarios()">
      <icon name="person"></icon>
    </button>
  
    <div [class]="agrandar">
        <buttons end style="margin-right: 10px;">
            <button button icon-only (click)="NoDesplegarUsuarios()">
              <icon name="close"></icon>
            </button>
          </buttons>
      <button (click)="SetearUsuario('pepe@gmail.com', '123456')">Dueño</button>
      <button (click)="SetearUsuario('samy32m@gmail.com', '222222')">Supervisor</button>
      <button (click)="SetearUsuario('federico@gmail.com', '123456')">Mozo</button>
      <button (click)="SetearUsuario('Seba@gmail.com', '123456')">Cocinero</button>
      <button (click)="SetearUsuario('coqui@gmail.com', '123456')">Bartender</button>
      <button (click)="SetearUsuario('metre@gmail.com', '666666')">Metre</button>
      <button (click)="SetearUsuario('repartidor@gmail.com', '123456')">Repartidor</button>
      <button (click)="SetearUsuario('paola@gmail.com', '123456')">Cliente</button>
      <button (click)="SetearUsuario('prueba2@gmail.com', '333333')">Cliente2</button>
    </div>
  
  </div>
  <img class="icon" src="assets/Imagenes/icon.png">
  <row class="ml">
    <checkbox color="primary" [(ngModel)]="anonimo"></checkbox> <h6 class="checkbox">Ingresar como anonimo </h6>
  </row>

  <div *ngIf="!anonimo">
    <item>
      <label floating>Correo electrónico: </label>
      <input type="email" required [(ngModel)]="email" name="em"></input>
    </item>
    <item>
      <label floating>Contraseña: </label>
      <input type="password" required [(ngModel)]="pass" name="pas"></input>
    </item>
  </div>
  <div *ngIf="anonimo">
    <item>
      <label floating>Nombre: </label>
      <input type="text" [(ngModel)]="nombre" name="nombre"></input>
    </item>
  </div>
  <br>
  <div *ngIf="!anonimo">
    <button button block color="primary" (click)="aceptar()">Iniciar Sesión</button>
  </div>
  <div *ngIf="anonimo">
    <button button block color="primary" (click)="entrarComoAnonimo()">Iniciar Sesión</button>
  </div>
  <button button block color="secondary" (click)="register()" >Registrarse</button>
 -->
<p>holaaa</p>