<app-principal></app-principal>
<h3 *ngIf="vacia == true" >
        <p class= "no-resultados"> No hay mesas para mostrar <i class="far fa-thumbs-up"></i></p>
</h3>
<div  *ngIf="!vacia == true">
   <table mat-table [dataSource]="mesas">
        <tr>
            <ng-container matColumnDef="NumeroMesa">
                <th mat-header-cell *matHeaderCellDef> Numero </th>
                <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
            </ng-container>
            <ng-container matColumnDef="CantidadComensales">
                <th mat-header-cell *matHeaderCellDef> Cantidad Comensales </th>
                <td mat-cell *matCellDef="let element"> {{element.cantidadComensales}} </td>
            </ng-container>
            <ng-container matColumnDef="Estado">
                <th mat-header-cell *matHeaderCellDef> Estado</th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>
            <ng-container matColumnDef="Codigo">
                <th mat-header-cell *matHeaderCellDef> Codigo</th>
                <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
            </ng-container>
        </tr>
        <div>
            <tr mat-header-row *matHeaderRowDef="columsMesa"></tr>
            <tr mat-row *matRowDef="let row; columns: columsMesa;" [appEstadoFila]="row.estado"></tr>
        </div>
      
      </table>

</div>
<!-- <h1>Listado de Mesas</h1>
<ul *ngFor="let item of mesas">
    <p>nro: {{item.numero}}</p>
    <p>cantidad Comensales: {{item.cantidadComensales}}</p>
    <p>estado: {{item.estado}}</p>
    <p>codigo: {{item.codigo}}</p> 
    <p>======================</p>    
</ul>   -->