<app-principal></app-principal><br><br>
<h3 *ngIf="vacia == true" >
       <p class= "no-resultados"> No hay pedidos para mostrar <i class="far fa-thumbs-up"></i></p>
 </h3>
<div  *ngIf="!vacia == true">
    <ul *ngFor="let item of pedidos">
        <div *ngIf="item.estado==aceptado">                   
                   <ul *ngFor="let producto of item.productos">
                        <div *ngIf="(producto.tipo==barra) 
                                    && (producto.estadoProdPedido==enPreparacion) && (producto.empleado==correo)">
                                
                                        <p >DESCRIPCION: {{producto.descripcion}}</p> 
                                        <p >EMPLEADO: {{producto.empleado}}</p> 
                                        <p >ESTADO PRODUCTO: {{producto.estadoProdPedido}}</p>                    
                                        <p >TIEMPO ESTIADO: {{producto.tiempoPromedioElaboracion}}</p>
                                        <p >CODIGO PEDIDO Pedido: {{item.codigo}}</p> 
                           <button (click)="cerrarPedido(item,producto)">Cerrar Pedido</button>
                        </div>     
                   </ul> 
                   <br>          
                    
        </div>
   </ul> 
</div>

