<app-principal></app-principal>
<br>
<h4>Alta de Socio</h4>
<section class="h-100 registro-pagina">
    <div class="container h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper registro-pagina">  
          <div class="card fat">
            <div class="card-body">
              <h4 class="card-title">Agregar Socio</h4>
              <form (ngSubmit)="f.form.valid && confirmar()" #f="ngForm" novalidate>
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input name="nombre" id="nombre" type="text" 
                         class="form-control" [(ngModel)]="nombreModel" 
                         #nombre="ngModel"
                         [ngClass]="{ 'is-invalid': f.submitted && nombre.invalid }"
                         required autofocus> 
                  <div  *ngIf="f.submitted && nombre.invalid" class="invalid-feedback">
                     <div *ngIf="nombre.errors.required">Nombre requerido</div>
                  </div>
                </div>  
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input name="apellido" id="apellido" type="text" 
                         class="form-control" [(ngModel)]="apellidoModel" 
                         #apellido="ngModel"
                         [ngClass]="{ 'is-invalid': f.submitted && apellido.invalid }"
                         required autofocus> 
                    <div  *ngIf="f.submitted && apellido.invalid" class="invalid-feedback">
                      <div *ngIf="apellido.errors.required">Apellido requerido</div>
                    </div>
                </div> 
                <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email" id="email" type="email" 
                         class="form-control" [(ngModel)]="emailModel" 
                         #email="ngModel"
                         [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                         required autofocus> 
                    <div  *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                      <div *ngIf="email.errors.required">Email requerido</div>
                    </div>
                </div> 
  
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input name="password" placeholder="" value="" id="password" type="password" 
                         class="form-control" [(ngModel)]="claveModel" 
                         #password="ngModel"
                         [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                         required autofocus> 
                    <div  *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                      <div *ngIf="password.errors.required">Contraseña requerida</div>
                    </div>
                </div>                
                <!-- carga de imágen -->  
                <form class="form-group">
                    <label for="customFile">Imágen</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" 
                      id="customFile" accept=".png, .jpg"
                        (change)="ImagenCargada($event)">
                      <label class="custom-file-label" for="customFile">{{imgName}}</label>
                    </div>
                </form>  
                <input #imgUsuario type="hidden" [value]="urlImagen | async">    
                <form class="margin-bottom">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="customCheck">
                  </div>
                </form>  
                <form class="margin-bottom">
                </form>
  
                <div class="form-group no-margin"> 
          
                <div class="form-group no-margin">
                  <button type="submit" class="btn btn-primary btn-block">
                      Confirmar
                  </button>
                </div>
 
                </div>         
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


