<section class="h-100 login-pagina">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper registro-pagina">  
        <div class="card fat">
          <div class="card-body">
            <h4 class="card-title">Registro Clientes</h4>   

            <form (ngSubmit)="f.form.valid && registrarse()" #f="ngForm" novalidate>
            
              <div class="form-group">
                <label for="nombre">Nombre</label>          
                <input name="nombre" id="nombre" type="text"
                       class="form-control" [(ngModel)]="nombreModel" 
                      #nombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nombre.invalid }" 
                      required autofocus>
                <div *ngIf="f.submitted && nombre.invalid" class="invalid-feedback">
                  <div *ngIf="nombre.errors.required">Ingrese el Nombre</div>
                </div>
              </div>

              <div class="form-group">
                <label for="apellido">Apellido</label>          
                <input name="apellido" id="apellido" type="text"
                       class="form-control" [(ngModel)]="apellidoModel" 
                      #apellido="ngModel" [ngClass]="{ 'is-invalid': f.submitted && apellido.invalid }" 
                      required autofocus>
                <div *ngIf="f.submitted && apellido.invalid" class="invalid-feedback">
                  <div *ngIf="apellido.errors.required">Ingrese el Apellido</div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Dirección de Email</label>          
                <input name="email" id="email" type="email"
                       class="form-control" [(ngModel)]="emailModel" 
                      #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" 
                      required autofocus>
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors.required">Ingrese el Email</div>
                </div>
            </div>
              <div class="form-group">
                <label for="password">Clave</label>          
                <input name="password" id="password" type="password"
                       class="form-control" [(ngModel)]="passwordModel" 
                      #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && apellido.invalid }" 
                      required autofocus>
                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                  <div *ngIf="password.errors.required">Ingrese la Clave</div>
                </div>
              </div>
  
    
                <!-- carga de imágen -->
  
                <form class="form-group">
                    <label for="customFile">Imágen</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile" accept=".png, .jpg"
                        (change)="ImagenCargada($event)">
                      <label class="custom-file-label" for="customFile">{{imgName}}</label>
                    </div>
                  </form>
  
                <input #imgUsuario type="text" [value]="urlImagen | async">
  
      
  
                <!-- <form class="margin-bottom">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="customCheck">
                    <label class="custom-control-label" for="customCheck">Acepto los términos y
                      condiciones</label>
                  </div>
                </form> -->
  
                <!-- <form class="margin-bottom">
                  <re-captcha (resolved)="resolved($event)" siteKey="6LevcsUUAAAAACFQdvv7_T8NGE0mNqObdhqHwW9k"> 

                  </re-captcha>
                </form> -->
  
                <div *ngIf="urlImagen!=undefined" class="form-group no-margin">
  
                  <ng-container  >
                    <button  class="btn btn-primary btn-block" (click) ="registrarse()" >
                      Registrarse
                    </button>
                  </ng-container>
  
  
                </div>
           
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
