table {
    width: 100%;
  }
  
.no-resultados {
height: 48px;
display: flex;
align-items: center;
justify-content: center;
background: white;
}

.parent {
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}