<h1>Cocinero</h1>

<ul *ngFor="let item of pedidos">
        <div *ngIf="item.estado==aceptado">
                   
                   <ul *ngFor="let producto of item.productos">
                        <div *ngIf="producto.tipo==plato && producto.estadoProdPedido==pendiente">
                           <p >descripcion: {{producto.descripcion}}</p>                      
                           <p >tiempo Estimado: {{producto.tiempoPromedioElaboracion}}</p>
                           <p >Codigo Pedido: {{item.codigo}}</p> 
                           <button (click)="tomarPedido(item,producto)">Aceptar Pedido</button>
                        </div>     
                   </ul> 
                   <br>          
                    
        </div>
       </ul> 
