<app-principal></app-principal>
<br><br>
<div *ngIf="vacia == undefined" class="d-flex justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem; margin-top: 10%;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>
<div *ngIf="vacia != undefined" >
<h3 *ngIf="vacia == true" >
        <p class= "no-resultados"> No hay pedidos pendientes<i class="far fa-thumbs-up"></i></p>
</h3>
<div  *ngIf="!vacia == true">
   <table mat-table [dataSource]="pedidosAceptados">
      <tr>
          <ng-container matColumnDef="Codigo Pedido">
                <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Código Pedido </th>
                <td style="color: black;font-size: large;" mat-cell *matCellDef="let element">{{element.codigo}} </td>
          </ng-container>
          <ng-container matColumnDef="Estado">
                <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Estado </th>
                <td style="color: black;font-size: large;" mat-cell *matCellDef="let element">{{element.estado}} </td>
          </ng-container>  
          
          <ng-container matColumnDef="Detalle">
                <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Detalle </th>
                <td style="color: black;font-size: large;" mat-cell *matCellDef="let element">
                    <button *ngIf="element.estado==aceptado" mat-icon-button (click)="showInfo(element)">
                      <mat-icon>assignment</mat-icon>
                    </button> 
                </td>    
            </ng-container>                
          <ng-container matColumnDef="Tiempo Elaboracion">
                <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Tiempo Elaboración </th>
                <td style="color: black;font-size: large;" mat-cell *matCellDef="let element"> {{element.tiempoElaboracion}} </td>
          </ng-container>              
      </tr>
      <div>
              <tr mat-header-row *matHeaderRowDef="columsPedido"></tr>
              <tr mat-row *matRowDef="let row; columns: columsPedido;"  ></tr>
      </div>
</table>
<br><br>
<div *ngIf="info">
<h2 class="no-span">Detalle de Pedido:</h2>
<app-pedido-cocinero style="margin-left: 20%;"
[filterName]="'Filtro por tipo'" 
(busquedaEvento)="aplicarFiltros($event)">
</app-pedido-cocinero>
<mat-icon>filter_list</mat-icon>
<table  mat-table [dataSource]="dataSourceProd">
           <tr>
                <ng-container matColumnDef="Tipo">
                    <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Tipo </th>
                    <td style="color: black;font-size: large;" mat-cell *matCellDef="let prod"> {{prod.tipo}} </td>
                </ng-container>
                <ng-container matColumnDef="Descripcion">
                    <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td style="color: black;font-size: large;" mat-cell *matCellDef="let prod"> {{prod.descripcion}} </td>
                </ng-container> 
                <ng-container matColumnDef="Precio">
                        <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Precio </th>
                        <td style="color: black;font-size: large;" mat-cell *matCellDef="let prod"> {{prod.precio}} </td>
                </ng-container> 
                <ng-container matColumnDef="Empleado">
                        <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Empleado </th>
                        <td style="color: black;font-size: large;" mat-cell *matCellDef="let prod"> {{prod.empleado}} </td>
                </ng-container> 
                <ng-container matColumnDef="Estado Producto">
                        <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Estado Producto </th>
                        <td style="color: black;font-size: large;" mat-cell *matCellDef="let prod"> {{prod.estadoProdPedido}} </td>
                </ng-container> 
                <ng-container matColumnDef="Tiempo Promedio Elaboracion">
                        <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Tiempo Promedio Elaboración </th>
                        <td style="color: black;font-size: large;" mat-cell *matCellDef="let prod"> {{prod.tiempoPromedioElaboracion}} </td>
                </ng-container>
                <ng-container matColumnDef="Tomar Pedido">
                        <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Tomar Pedido </th>
                        <td style="color: black;font-size: large;" mat-cell *matCellDef="let prod">
                        <button *ngIf="prod.estadoProdPedido=='pendiente'&& tarea==prod.tipo" mat-icon-button (click)="tomarPedido(prod)">
                               <mat-icon>check_circle</mat-icon>
                         </button> 
                        </td>    
                 </ng-container>
                <ng-container matColumnDef="Foto">
                        <th style="color: black;font-size: x-large;" mat-header-cell *matHeaderCellDef> Foto </th>
                        <td style="color: black;font-size: large;" mat-cell *matCellDef="let prod" style="padding-top: 1%;padding-bottom: 1%;">
                                <img style="width: 100px;" src="{{prod.foto}}" class="md-card-image" alt="image caption"/>
                        </td>
                </ng-container>                 
           </tr>
           <div>
                <tr mat-header-row *matHeaderRowDef="columsProductoPedido"></tr>
                <tr mat-row *matRowDef="let row; columns: columsProductoPedido;"></tr>
            </div> 
  </table>
</div> 
</div>
</div>