<app-principal></app-principal>
<br><br>
<h4>Hacer Pedido</h4>
<h4>-- Recuerde seleccionar una mesa --</h4>
        <p >Codigo Mesa Seleccionada: {{this.codigoMesa}}</p>

        <p >monto total: {{this.montoTotal}}</p>
        <p >tiempo total: {{this.tiempoTotal}}</p>
        <label>Seleccione los platos:</label>
        <button (click)="mostrarPlatos()" >Platos</button>
        <button (click)="mostrarCerveza()">Cerveza</button>
        <button (click)="mostrarBarra()">Barra</button>
        <div *ngIf="!pedidoRealizado">
        <ul *ngFor="let item of productos">
            <p *ngIf="item.tipo===this.tipo">nombre: {{item.nombre}}</p>
            <p *ngIf="item.tipo===this.tipo">descripcion: {{item.descripcion}}</p>   
            <p *ngIf="item.tipo===this.tipo">precio: {{item.precio}}</p>
            <input *ngIf="item.tipo===this.tipo" type="checkbox" ng-model="item" (click)="agregarPedido(item)">
            <input *ngIf="item.tipo===this.tipo" type="checkbox" ng-model="item" (click)="quitarPedido(item)">
            <p *ngIf="item.tipo===this.tipo">======================</p>   
        
        </ul> 
        </div> 
        
        <button  *ngIf="!pedidoRealizado" (click)="guardarPedido()">Aceptar</button> -->
         <!-- EL MOZO AGREGA UNA FOTO-->

         <!-- <app-principal></app-principal> -->
          <!-- <label>Menu disponible:</label><br><br>
          <app-producto-tipo [filterName]="'Filtro por tipo'" (busquedaEvento)="aplicarFiltros($event)"></app-producto-tipo>
          
          <table  mat-table [dataSource]="productos">
                     <tr>
                          <ng-container matColumnDef="Foto">
                              <th mat-header-cell *matHeaderCellDef> Foto </th>
                              <td mat-cell *matCellDef="let element" style="padding-top: 1%;padding-bottom: 1%;">
                                  <img style="width: 100px;" src="{{element.foto}}" class="md-card-image" alt="image caption"/>
                              </td>
                          </ng-container> 
                          <ng-container matColumnDef="Tipo">
                              <th mat-header-cell *matHeaderCellDef> Tipo </th>
                              <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                          </ng-container>
                          <ng-container matColumnDef="Descripcion">
                              <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                          </ng-container> 
                          <ng-container matColumnDef="Precio">
                                  <th mat-header-cell *matHeaderCellDef> Precio </th>
                                  <td mat-cell *matCellDef="let element"> $${{element.precio}} </td>
                          </ng-container> 
                          <ng-container matColumnDef="Tiempo Promedio Elaboracion">
                                  <th mat-header-cell *matHeaderCellDef> Tiempo Promedio Elaboracion </th>
                                  <td mat-cell *matCellDef="let element"> {{element.tiempoPromedioElaboracion}} </td>
                          </ng-container>
                          <ng-container matColumnDef="Seleccionar">
                                  <th mat-header-cell *matHeaderCellDef>Seleccionar </th>
                                  <td mat-cell *matCellDef="let element">
                                  <button mat-icon-button (click)="agregarPedido(element)">
                                          <mat-icon>add_shopping_cart</mat-icon>
                                  </button> 
                                  </td>    
                           </ng-container> 
                           <ng-container matColumnDef="Cancelar">
                                <th mat-header-cell *matHeaderCellDef>Cancelar </th>
                                <td mat-cell *matCellDef="let element">
                                <button mat-icon-button (click)="quitarPedido(element)">
                                        <mat-icon>remove_shopping_cart</mat-icon>
                                </button> 
                                </td>    
                         </ng-container>                                         
                     </tr>
                     <div>
                          <tr mat-header-row *matHeaderRowDef="columsProducto"></tr>
                          <tr mat-row *matRowDef="let row; columns: columsProducto;"></tr>
                      </div> 
          </table>
                


 -->
